<h1>Редактирование метро</h1>

<div class='block'>
  <div class='offset'>
    <%= link_to 'Показать', [:admin, @metro] %> |
    <%= link_to 'Назад', admin_metros_path %>
  </div>
</div>

<div class='space'></div>



<%= render 'form' %>

