<div class='comments block'>
  <div class='offset'>
    <h3 class='blue'>Комментарии (3)</h3>
    <div class='comment'>
      <p class='author'><b class='blue'>Владимир Бробуд</b><span> пишет:</span></p>
      <p class="datetime">12 июня 2013г.</p>
      <div class="space clear"></div>
      <p>
        Население, по состоянию на конец 2011 года, составляет более 356 тысяч человек, площадь — 48 км?. Расположен в гористой местности у подножья вулкана Геде в юго-западной части провинции в 120 километрах к югу от столицы страны Джакарты.
      </p>
      <hr>
      <p class='author'><b class='blue'>Владимир Бробуд</b><span> пишет:</span></p>
      <p class="datetime">12 июня 2013г.</p>
      <div class="space clear"></div>
      <p>
        Население, по состоянию на конец 2011 года, составляет более 356 тысяч человек, площадь — 48 км?. Расположен в гористой местности у подножья вулкана Геде в юго-западной части провинции в 120 километрах к югу от столицы страны Джакарты.
      </p>
      <hr>
      <p class='author'><b class='blue'>Владимир Бробуд</b><span> пишет:</span></p>
      <p class="datetime">12 июня 2013г.</p>
      <div class="space clear"></div>
      <p>
        Население, по состоянию на конец 2011 года, составляет более 356 тысяч человек, площадь — 48 км?. Расположен в гористой местности у подножья вулкана Геде в юго-западной части провинции в 120 километрах к югу от столицы страны Джакарты.
      </p>
    </div>
  </div>
</div>