<div class='head block'>
  <div class="offset">
    <h2><a href=''>Название статьи</a></h2>
    <p class='datetime'>12 июня 2013г.</p>
    <div class='clear'></div>
    <div class='breadcrumbs'>
        <p>Теги: </p>
        <a href="#">Главная</a>
        <a href="#">Аренда</a>
    </div>
  </div>
</div>
<div class="post offset">
  <div class='google-adv'></div>
  <p>
    Сукабуми (индон. Sukabumi) — город в Индонезии, на острове Ява, в провинции Западная Ява. Территория города выделена в самостоятельную административную единицу — муниципалитет (ко́та). Население, по состоянию на конец 2011 года, составляет более 356 тысяч человек, площадь — 48 км².
    Расположен в гористой местности у подножья вулкана Геде в юго-западной части провинции в 120 километрах к югу от столицы страны Джакарты. Основное население — сунданцы, преимущественное вероисповедание горожан — мусульманство суннитского толка.
  </p>
</div>
