<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Новое сообщение с сайта "Недвижимость в Москве"</h1>
<p>
    <b>Имя:</b>           <%= @contact.author %>       <br />
    <b>Телефон:</b>       <%= @contact.phone %>        <br />
    <b>E-Mail:</b>        <%= @contact.email %>        <br />
    <b>Комментарий:</b>   <%= @contact.description %>  <br />
</p>

</body>
</html>