<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Новый запрос на добавление в каталог с сайта "Недвижимость в Москве"</h1>

Ссылка на запрос в админке: <br />
<%= admin_house_url(@house) %>

</body>
</html>