<h1>Редактирования конаткта</h1>

<div class='block'>
  <div class='offset'>
    <%= link_to 'Показать', [:admin, @contact] %> |
    <%= link_to 'Назад', admin_contacts_path %>
  </div>
</div>

<div class='space'></div>



<%= render 'form' %>

