<div class="field">
  <%= f.label :sell_type %>
  <%= f.select :sell_type, House::SELL_TYPE, prompt: true %>
</div>

<div class="field">
  <%= f.label :credit %>
  <%= f.select :credit, House::CREDIT, prompt: true %>
</div>
