<h1>Редактирование рекламного блока</h1>

<div class='block'>
  <div class='offset'>
    <%= link_to 'Показать', [:admin, @advert] %> |
    <%= link_to 'Назад', admin_adverts_path %>
  </div>
</div>

<div class='space'></div>



<%= render 'form' %>

